/* =============================VARIABLES============================ */
:root {
  --mainFont: "Poppins", sans-serif;
  --darkColor: #395c6b;
  --lightColor: #bcd3f2;
}
/* ================================================================== */

/* ==============================GLOBAL============================== */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--mainFont);
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* ================================================================== */

/* ===============================MAIN=============================== */
.main-container {
  grid-template-columns: 1fr 7fr;
}
/******************** NAVBAR ********************/
.navbar {
  display: block;
  width: 10vw;
  height: 100vh;
  background: var(--darkColor);
  color: var(--lightColor);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
  position: fixed;
}
.year-container {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.year {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 5px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--lightColor);
  cursor: pointer;
  transition: all 0.3s;
}

.months-container {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}
.months {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.months h2 {
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.months:hover h2 {
  padding-left: 5px;
}
/******************* END OF NAVBAR **************/

/* **************** CALENDAR ****************** */
.calendar-container {
  width: 90vw;
  margin-left: auto;
  padding: 1rem 0;
  color: var(--darkColor);
  background: var(--lightColor);
}
.header {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
}
#weekdays {
  display: flex;
  width: 100%;
}
#weekdays > div {
  width: 200px;
  margin: 0 5px;
  padding: 1rem;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: 600;
}
#calendar {
  width: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow-y: auto;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 var(--darkColor);
}

.day:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0.3);
}

.padding {
  box-shadow: none;
  background: none;
  cursor: default;
  visibility: hidden;
}
.active {
  background: var(--lightColor);
  color: var(--darkColor);
  transition: all 0.3s;
}
.event {
  margin-top: 0.3rem;
  padding: 0 1rem;
}
.eventTitle {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  background: #a13d63;
  border-radius: 10px;
  padding: 0.1rem 0.3rem;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
#currentDay {
  background: #b4e7ce;
}
/* custom scrollbar */
.day::-webkit-scrollbar,
.day::-webkit-scrollbar-thumb {
  width: 16px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.day::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.eventState {
  background: #7bae7f;
}

/* ************ END OF CALENDAR *************** */

/* **************** MODAL ****************** */
#newEventModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: auto;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  z-index: 19;
}
.close-btn {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #721c24;
  cursor: pointer;
}
.todo-form {
  padding: 3rem 2rem 1rem 2rem;
}
.todo-form h3 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 2rem;
  color: var(--darkColor);
  margin-bottom: 1rem;
}
/* alert popup */
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.form-control {
  display: flex;
  justify-content: center;
}
#todoInput {
  width: 80%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ebebeb;
  padding: 0.5rem 0.8rem;
  color: var(--darkColor);
}
.submit-btn {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
  background: var(--lightColor);
  color: var(--darkColor);
  cursor: pointer;
  transition: all 0.3s;
}
.submit-btn:hover {
  background: var(--darkColor);
  color: var(--lightColor);
}
#modalBackDrop {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000086;
  z-index: 9;
}

.todo-container {
  padding: 0 3rem;
}
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.wrapper {
  display: flex;
  align-items: center;
}
.title {
  appearance: none;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background: #ebebeb;
  border-radius: 2px;
  margin-right: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.title::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.1rem;
  content: "\f00c";
  color: var(--lightColor);
  display: none;
}
.title:hover {
  background: #c9c9c9;
}
.title:checked {
  background: var(--darkColor);
}
.title:checked::after {
  display: block;
}
.titleLabel {
  color: var(--darkColor);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.1rem;
  cursor: pointer;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 0 5px;
  cursor: pointer;
}
.edit-btn {
  color: #155724;
}
.delete-btn {
  color: #721c24;
}

/* ************ END OF MODAL *************** */

/* ================================================================== */
